<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>漫谈组件化</title>

        <link rel="stylesheet" href="css/reveal.css">
        <link rel="stylesheet" href="css/theme/sky.css">

        <!-- Theme used for syntax highlighting of code -->
        <link rel="stylesheet" href="lib/css/zenburn.css">

        <!-- Printing and PDF exports -->
        <script>
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        </script>
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section data-background="img/road.jpg" >
                    <h2>漫谈组件化</h2>
                    <p style="text-align: right;">BY 唐琪</p>
                </section>
                <section data-background="img/team.jpg">
                    <h2>组件化项目如何开发的?</h2>
                </section>
                <section>
                    <h2>交互/产品可以这么做</h2>
                </section>
                <section>
                    <h2>设计可以这么画</h2>
                </section>
                <section>
                    <h2>前端可以这么写</h2>
                </section>

                <section>
                    <h2>组件化特点</h2>
                    <ul>
                        <li class="fragment"><span>功能单一</span><span class="fragment">(专注)</span></li>
                        <li class="fragment"><span>重复使用</span><span class="fragment">(统一)</span></li>
                        <li class="fragment"><span>快速开发</span><span class="fragment">(效率)</span></li>
                    </ul>
                </section>

                <section data-background="img/lizi.jpg">
                    <h2 style="">举个栗子</h2>
                    <a href="http://ant.design/" target="_blank">ant design</a>
                </section>

                <section>
                    <h2>组件化关注点?</h2>
                    <ul>
                        <li>功能</li>
                        <li>视觉</li>
                        <li>交互</li>
                        <li>跨端</li>
                        <li>极端情况</li>
                        <li>业务场景</li>
                        <li>组合</li>
                    </ul>
                </section>
                <section data-background="img/bingshan1t.jpg">
                    <h2>冰山之下</h2>
                </section>
                <section>
                    <h2>组件化关注点?</h2>
                    <ul>
                        <li>组件使用的培训</li>
                        <li>交互组件的管理</li>
                        <li>视觉组件的管理</li>
                        <li>前端组件的管理</li>
                    </ul>
                </section>
                <section>
                    <h2>组件化迭代</h2>
                    <div>
                        <a href="img/component.png" target="_blank">
                            <img src="img/component.png" alt="">
                        </a>
                    </div>
                </section>
                <section>
                    <img src="./img/die.png" alt="">
                </section>
                <section >
                    <h2>谢谢观赏</h2>
                    <h3>2016-07-15</h3>
                </section>
            </div>
        </div>

        <script src="lib/js/head.min.js"></script>
        <script src="js/reveal.js"></script>

        <script>
            // More info https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                history: true,

                // More info https://github.com/hakimel/reveal.js#dependencies
                dependencies: [
                    { src: 'plugin/markdown/marked.js' },
                    { src: 'plugin/markdown/markdown.js' },
                    { src: 'plugin/notes/notes.js', async: true },
                    { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
                ]
            });
        </script>
    </body>
</html>
